theme "catppuccin-mocha"

pane_frames false
keybinds {

    unbind "Ctrl q" // Disable quit to prevent accidentally closing


    // Disable move, I don't use and conflicts with window move
    shared_except "move" "locked" {
        unbind "Ctrl h"
    }

    shared_except "scroll" "locked" {
        unbind "Ctrl s" // Disable search
    }

    // Prevent override vim "back"
    session {
       unbind "Ctrl o"
    }

    shared_except "session" "locked" {
        unbind "Ctrl o"
        bind "Ctrl x" { SwitchToMode "Session"; }
    }

    // Prevent override vim "next item"
    shared_except "resize" "locked" {
        unbind "Ctrl n"
    }
    // Prevent override vim "previous item"
    unbind "Ctrl p"
    unbind "Ctrl g"
    pane {
        unbind "Ctrl p"
        bind "Ctrl g" { SwitchToMode "Normal";  }
    }

    shared_except "pane" "locked" {
        unbind "Ctrl p"
        bind "Ctrl g" { SwitchToMode "Pane"; }
    }


}
