" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

set visualbell
set noerrorbells

" Setup leader key
let mapleader = " "

" Don't use Ex mode, use Q for formatting.
map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Keybinding setup like Neovim Kickstarter
"
nmap <leader>no :NERDTreeFocus<CR>
nmap <leader>nc :NERDTreeClose<CR>

nmap <leader>la <Action>(Refactorings.QuickListPopupAction)
vmap <leader>la <Action>(Refactorings.QuickListPopupAction)

nmap <leader>lf <Action>(ReformatCode)
vmap <leader>lf <Action>(ReformatCode)

nmap <leader>lh <Action>(ParameterInfo)
vmap <leader>lh <Action>(ParameterInfo)

nmap <leader>rn <Action>(RenameElement)
vmap <leader>rn <Action>(RenameElement)

nmap gI <Action>(GotoImplementation)

nmap <leader>sg <Action>(FindInPath)
nmap / <Action>(Find)
nmap gr <Action>(ShowUsages)

nmap <leader>sf <Action>(GotoFile)
nmap <leader>ds <Action>(GotoSymbol)
nmap <leader>sh <Action>(GotoAction)

" Global clipboard
set clipboard+=unnamed


" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

Plug 'preservim/nerdtree'
